---
openapi: 3.0.2
info:
  title: LTA DataMall
  description:
    LTA publishes a wide variety of land transport-related datasets (static
    and dynamic / real-time) on DataMall for enterprises, third-party developers,
    researchers, and other members of the public to promote collaboration and co-creation
    of innovative and inclusive transport solutions.
  termsOfService: https://www.mytransport.sg/content/mytransport/home/dataMall/api-terms-of-service.html
  license:
    name: Singapore Open Data License 1.0
    url: https://www.mytransport.sg/content/mytransport/home/dataMall/SingaporeOpenDataLicence.html
  version: 0.1.0
servers:
  - url: http://datamall2.mytransport.sg/ltaodataservice
externalDocs:
  description: Official LTA DataMall API documentation
  url: https://www.mytransport.sg/content/dam/datamall/datasets/LTA_DataMall_API_User_Guide.pdf
security:
  - default: []
paths:
  "/BusArrivalv2":
    get:
      summary:
        Returns real-time Bus Arrival information of Bus Services at a queried
        Bus Stop, including Est. Arrival Time, Est. Current Location, Est. Current
        Load.
      parameters:
        - "$ref": "#/components/parameters/skip"
        - "$ref": "#/components/parameters/accept"
        - name: BusStopCode
          in: query
          required: true
          schema:
            description: Bus stop reference code.
            type: string
            pattern: "[0-9]{5}"
            example: "83139"
        - name: ServiceNo
          in: query
          schema:
            description: Bus service number.
            type: integer
            example: 15
      responses:
        200:
          description: A list of bus arrivals.
          content:
            application/json:
              schema:
                type: object
                properties:
                  odata.metadata:
                    type: string
                    enum:
                      - http://datamall2.mytransport.sg/ltaodataservice/$metadata#BusArrivalv2/@Element
                    example: http://datamall2.mytransport.sg/ltaodataservice/$metadata#BusArrivalv2/@Element
                  Services:
                    description: List of active bus services in operation.
                    type: array
                    items:
                      description: Active bus service in operation.
                      type: object
                      properties:
                        ServiceNo:
                          description: Bus service number.
                          type: string
                        Operator:
                          "$ref": "#/components/schemas/busOperator"
                        NextBus:
                          "$ref": "#/components/schemas/busArrivalv2NextBus"
                        NextBus2:
                          "$ref": "#/components/schemas/busArrivalv2NextBus"
                        NextBus3:
                          "$ref": "#/components/schemas/busArrivalv2NextBus"
                additionalProperties: false
        400:
          "$ref": "#/components/responses/default"
        401:
          "$ref": "#/components/responses/401"
        "501":
          description:
            501 Internal server error is returned when invalid/no BusStopCode
            is sent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  odata.metadata:
                    type: string
                    enum:
                      - http://datamall2.mytransport.sg/ltaodataservice/$metadata#BusArrivalv2/@Element
                    example: http://datamall2.mytransport.sg/ltaodataservice/$metadata#BusArrivalv2/@Element
                  BusStopCode:
                    type: string
                    nullable: true
                  Services:
                    type: array
                    items: {}
                additionalProperties: false
  "/BusServices":
    get:
      summary:
        "Returns detailed service information for all buses currently in operation,
        including: first stop, last stop, peak / offpeak frequency of dispatch."
      parameters:
        - "$ref": "#/components/parameters/skip"
        - "$ref": "#/components/parameters/accept"
      responses:
        200:
          description: List of bus services.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  odata.metadata:
                    type: string
                    enum:
                      - http://datamall2.mytransport.sg/ltaodataservice/$metadata#BusServices
                    example: http://datamall2.mytransport.sg/ltaodataservice/$metadata#BusServices
                  value:
                    description: List of bus services.
                    type: array
                    items:
                      description: A bus currently in operation
                      type: object
                      properties:
                        ServiceNo:
                          description: The bus service number.
                          type: string
                          example: 107M
                        Operator:
                          description: OPerator for this bus service.
                          type: string
                          example: SBST
                        Direction:
                          description: Thee direction in which the bus travels (1 or 2), loop services only have 1 direction.
                          type: integer
                          enum:
                            - 1
                            - 2
                          example: 1
                        Category:
                          description: Category of the SBS bus service.
                          type: string
                          enum:
                            - EXPRESS
                            - FEEDER
                            - INDUSTRIAL
                            - TOWNLINK
                            - TRUNK
                            - 2 TIER FLAT FEE
                            - FLAT FEE $1.10
                            - FLAT FEE $1.90
                            - FLAT FEE $3.50
                            - FLAT FEE $3.80
                          example: TRUNK
                        OriginCode:
                          description: Bus stop code for first bus stop
                          type: integer
                          pattern: "[0-9]{5}"
                          example: "64009"
                        DestinationCode:
                          description: Bus stop code for last bus stop (similar as first stop for loop services)
                          type: integer
                          pattern: "[0-9]{5}"
                          example: 64009
                        AM_Peak_Freq:
                          description: Frequency of dispatch for A.M. peak 0630 hrs - 0830 hrs (range in minutes).
                          type: string
                          example: "13-17"
                        AM_Offpeak_Freq:
                          description: Frequency of dispatch for A.M. Off-Peak 1700 hrs - 1900 hrs (range in minutes).
                          type: string
                          example: "10-16"
                        PM_Peak_Freq:
                          description: Frequency of dispatch for P.M. peak 1700 hrs - 1900 hrs (range in minutes).
                          type: string
                          example: "12-15"
                        PM_Offpeak_Freq:
                          description: Frequency of dispatch for P.M. Off-Peak after 1900 hrs (range in minutes).
                          type: string
                          example: "12-15"
                        LoopDesc:
                          description: Location at which the bus service loops; empty if not a loop service.
                          type: string
                          example: "Raffles Blvd"
        400:
          "$ref": "#/components/responses/default"
        401:
          "$ref": "#/components/responses/401"
  "/BusRoutes":
    get:
      summary: "Returns detailed route information for all services currently in operation, including: all bus stops along each route, first/last bus timings for each stop."
      parameters:
        - "$ref": "#/components/parameters/skip"
        - "$ref": "#/components/parameters/accept"
      responses:
        200:
          description: List of bus routes.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  odata.metadata:
                    type: string
                    enum:
                      - http://datamall2.mytransport.sg/ltaodataservice/$metadataBusRoutes
                    example: http://datamall2.mytransport.sg/ltaodataservice/$metadataBusRoutes
                  values:
                    description: List of bus routes.
                    type: array
                    items:
                      description: A bus route.
                      type: object
                      properties:
                        ServiceNo:
                          description: The bus service number
                          type: string
                          example: 107M
                        Operator:
                          "$ref": "#/components/schemas/busOperator"
        400:
          "$ref": "#/components/responses/default"
  "/BusStops":
    get:
      summary: "Returns detailed information for all bus stops currently being serviced by buses, including: Bus Stop Code,location coordinates"
      parameters:
        - "$ref": "#/components/parameters/skip"
        - "$ref": "#/components/parameters/accept"
      responses:
        200:
          description: List of bus stops.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  odata.metadata:
                    type: string
                    enum:
                      - http://datamall2.mytransport.sg/ltaodataservice/$metadata#BusStops
                    example: http://datamall2.mytransport.sg/ltaodataservice/$metadata#BusStops
                  value:
                    description: List of bus stops.
                    type: array
                    items:
                      description: A bus stop.
                      type: object
                      properties:
                        BusStopCode:
                          description: The unique 5-digit identifier for this physical bus stop.
                          type: string
                          example: 01012
                        RoadName:
                          description: The road on which this bus stop is located.
                          type: string
                          example: Victoria St
                        Description:
                          description: Landmarks next to the bus sotp (if any) to aid in identifying this bus stop.
                          type: string
                          example: Hotel Grand Pacific
                        Latitude:
                          description: Latitude for this bus stop.
                          type: number
                          format: double
                        Longitude:
                          description: Longitude of this bus stop.
                          type: number
                          format: double
        400:
          "$ref": "#/components/responses/default"
  "/PV/Bus":
    get:
      summary: Returns tap in and tap outpassenger volumeby weekdays and weekends for individual bus stop
      parameters:
        - "$ref": "#/components/parameters/accept"
        - name: Date
          in: query
          description: Request for files up to last three months.
          schema:
            type: string
            example: 201803
      responses:
        200:
          description: List containing one Link object.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  odata.metadata:
                    type: string
                    enum:
                      - http://datamall2.mytransport.sg/ltaodataservice/$metadata#FarecardBatch
                    example: http://datamall2.mytransport.sg/ltaodataservice/$metadata#FarecardBatch
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        Link:
                          description: Link for downloading the file. Expires after 5 minutes.
                          type: string
                          example: https://ltafarecard.s3.amazonaws.com/201803/transport_node_bus_201803.zip?x-amz-security-token=FQoDYXdzEOf%2F%2F%2F%2F%2F%2F%2F%2F%2F%...
        400:
          "$ref": "#/components/responses/default"
  "/PV/ODBus":
    get:
      summary: Returns number of trips by weekdays and weekends from origin to destination bus stops.
      parameters:
        - "$ref": "#/components/parameters/accept"
        - name: Date
          in: query
          description: Request for files up to last three months.
          schema:
            type: string
            example: 201803
      responses:
        200:
          description: List containing one Link object.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  odata.metadata:
                    type: string
                    enum:
                      - http://datamall2.mytransport.sg/ltaodataservice/$metadata#FarecardBatch
                    example: http://datamall2.mytransport.sg/ltaodataservice/$metadata#FarecardBatch
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        Link:
                          description: Link for downloading this file. Expires after 5 minutes.
                          type: string
                          example: https://ltafarecard.s3.amazonaws.com/201804/origin_destination_bus_201804.zip?x-amz-security-token=FQoDYXdzEOf%2F%2...
        400:
          "$ref": "#/components/responses/default"
  "/PV/ODTrain":
    get:
      summary: Returns number of trips by weekdays and weekends from origin to destination train stations.
      parameters:
        - "$ref": "#/components/parameters/accept"
        - name: Date
          in: query
          description: Request for files up to last three months.
          schema:
            type: string
            example: 201803
      responses:
        200:
          description: List containing one Link object.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        Link:
                          description: Link for downloading this file. Expires after 5 minutes.
                          type: string
                          example: "https://ltafarecard.s3.amazonaws.com/201803/origin_destination_train_201803.zip?x-amz-security-token=FQoDYXdzEOf%2F%2F%..."
        400:
          "$ref": "#/components/responses/default"
components:
  parameters:
    accept:
      name: accept
      in: header
      description:
        The response format of the API call. Any invalid value will fallback
        to 'application/json'.
      schema:
        type: string
        enum:
          - application/json
          - application/atom+xml
        default: application/json
        example: application/json
    skip:
      name: $skip
      in: query
      description:
        "With the exception of the following Bus Arrival API listed below, API responses returned are limited to 500 records of the dataset per call. This number may be adjusted from time to time. To retrieve the following set of 500 records, set $skip to 500.
        Exempted APIs:
        * Bus Arrival - Not applicable. Depends on parameter supplied.
        * Train Service Alerts - Not applicable. Depends on the scenario.
        * Passenger Volume related - Returns one record per request."
      schema:
        type: integer
        example: 500
  responses:
    401:
      description: 401 Unauthorized is returned.
      content:
        text/plain:
          schema:
            type: string
            example:
            additionalProperties: false
    default:
      description: 400 Bad request is returned.
      content:
        text/plain:
          schema:
            type: string
            example:
            additionalProperties: false
  securitySchemes:
    default:
      type: apiKey
      name: AccountKey
      in: header
  schemas:
    busArrivalv2NextBus:
      type: object
      properties:
        OriginCode:
          description:
            Reference code of the first bus stop where this bus started
            its service.
          type: integer
          pattern: "[0-9]{5}"
          example: 77009
        DestinationCode:
          description:
            Reference code of the last bus stop where this bus will terminate
            its service.
          type: string
          pattern: "[0-9]{5}"
          example: 77131
        EstimatedArrival:
          description:
            Date-time of this bus' estimated time of arrival, expressed
            in the UTC standard, GMT+8 for Singapore Standard Time (SST).
          type: string
          format: date-time
          example: "2017-04-29T07:20:24+08:00"
        Latitude:
          description:
            Current estimated latitude of this bus at point of published
            data.
          type: number
          format: double
          example: "1.42117943692586"
        Longitude:
          description:
            Current estimated longitude of this bus at point of published
            data.
          type: number
          format: double
          example: "103.831477233098"
        VisitNumber:
          description:
            Ordinal value of the nth visit of this vehicle at this bus
            stop, 1 = 1st visit, 2 = 2nd visit.
          type: integer
          example: "1"
        Load:
          description: |-
            Current bus occupancy / crowding level.
            * SEA (for Seats Available)
            * DD (for Double Deck)
            * BD (for Bendy)
          type: string
          enum:
            - SEA
            - SDA
            - LSD
          example: SEA
        Feature:
          description: Indicates if the bus is wheelchair accessible.
          type: string
          enum:
            - ""
            - WAB
          example: WAB
        Type:
          description: Vehicle type.
          type: string
          enum:
            - SD
            - DD
            - BD
          example: SD
      additionalProperties: false
    busOperator:
      description: |-
        Public transport operator code.
        * SBST (for SBS Transit)
        * SMRT (for SMRT Corporation)
        * TTS (for Tower Transit Singapore)
        * GAS (for Go Ahead Singapore)
      type: string
      enum:
        - SBST
        - SMRT
        - TTS
        - GAS
